<div class="modal fade" id="mdl_upload_subscribers_csv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload CSV (Subscribers)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="main-card mb-3 card">
                  <div class="card-body">
                    <form action="{{url_for('bp_bds.upload_subscribers_csv')}}" id="frm_upload_csv" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      <div class="form-row">
                          <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label for="password">CSV File</label>
                                <input style="font-weight: bold;" type="file" class="form-control"
                                        name="csv_file"
                                        required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid csv file
                                </div>
                            </div>
                          </div>
                    </form>
                      </div>
                      <script>
                  // Example starter JavaScript for disabling form submissions if there are invalid fields
                  (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                  }, false);
                  });
                  }, false);
                  })();
                      </script>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button form="frm_upload_csv" type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>