<!--THIS FILE EXTENDS admin_base.html-->
<!--THIS IS THE DASHBOARD TEMPLATE-->
{% extends "admin/admin_base.html" %}
{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph2 icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Dashboard
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}