{% extends "admin/admin_base.html" %}

{% block scripts %}
<script>
    var isScanMode = false;
    var barcode = "";

    var _status;
    var _billing;
    var _municipality;
    var _area;
    var _subArea;

    $(document).ready(function () {
        var dt_deliveries = $('#tbl_deliveries').DataTable({
            "dom": 'rtip',
            "pageLength": 25,
            "processing": true,
            "ordering": false,
            "responsive": true,
            "autoWidth": true,
            "createdRow": function (row, data, dataIndex) {
                $(row).attr('id', data[0]);
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                },
                {
                    "targets": 7,
                    "render": function (data, type, row) {
                        if (data == "NOT YET DELIVERED") {
                            return `<div class="badge badge-info">NOT YET DELIVERED</div>`;
                        } else if (data == "IN-PROGRESS") {
                            return `<div class="badge badge-danger">IN-PROGRESS</div>`;
                        } else if (data == "DELIVERED") {
                            return `<div class="badge badge-success">DELIVERED</div>`;
                        } else if (data == "PENDING") {
                            return `<div class="badge badge-warning">PENDING</div>`;
                        }
                    },
                },
                {
                    "targets": 8,
                    "width": "1%",
                    "render": function (data, type, row) {
                        var htmlBtnDetails = `
                        <div role="group" class="btn-group-sm btn-group">
                            <a href="${row[9]}" data-lightbox="${row[0]}" class="btn-shadow btn btn-primary btn_details">Image</a>
                        </div>`;
                        if (row[7] == "NOT YET DELIVERED") {
                            return "";
                        } else if (row[7] == "IN-PROGRESS") {
                            return "";
                        } else if (row[7] == "DELIVERED") {
                            return htmlBtnDetails;
                        } else if (row[7] == "PENDING") {
                            return htmlBtnDetails;
                        } else {
                            return "";
                        }
                    }
                }
            ],
        });

        loadFilters();

        $("#select_municipality").change(function () {
            changeMunicipality($(this));
        });

        $("#select_area").change(function () {
            changeArea($(this));
        });

        $("#btn_search").click(function () {
            var selectedBillingId = $("#select_billing").find(":selected").val();
            var selectedBillingName = $("#select_billing").find(":selected").text();
            var selectedMunicipalityId = $("#select_municipality").find(":selected").val();
            var selectedMunicipalityName = $("#select_municipality").find(":selected").text();
            var selectedAreaId = $("#select_area").find(":selected").val();
            var selectedAreaName = $("#select_area").find(":selected").text();
            var selectedSubreaId = $("#select_sub_area").find(":selected").val();
            var selectedSubAreaName = $("#select_sub_area").find(":selected").text();

            if (selectedBillingId == "" || selectedMunicipalityId == ""
                || selectedAreaId == "" || selectedSubreaId == "") {
                Swal.fire({
                    title: "Please choose all required fields!",
                    text: "Reminder",
                    icon: "info",
                    closeOnConfirm: true,
                });
                return;
            }
            $("#preloader_select").show();

            $("#card_header").text(`${selectedBillingName} - ${selectedMunicipalityName} - ${selectedAreaName} - ${selectedSubAreaName}`);

            var url = document.location.href;
            if (url.includes('?')){
                url = document.location.href.split('?')[0];
                var newUrl = url + `?status=${_status}&billing=${selectedBillingId}&municipality=${selectedMunicipalityId}&area=${selectedAreaId}&sub-area=${selectedSubreaId}`;
            } else{
                var newUrl = document.location.href + `?status=all&billing=${selectedBillingId}&municipality=${selectedMunicipalityId}&area=${selectedAreaId}&sub-area=${selectedSubreaId}`;
            }

            document.location = newUrl;

            dt_deliveries.ajax.url(`/admin/billings/${selectedBillingId}/sub-areas/${selectedSubreaId}/deliveries?status=${_status}`).load();
        });

        $("#btn_mode").click(function () {
            var selectedBillingId = $("#select_billing").find(":selected").val();
            var selectedMunicipalityId = $("#select_municipality").find(":selected").val();
            var selectedAreaId = $("#select_area").find(":selected").val();
            var selectedSubreaId = $("#select_sub_area").find(":selected").val();

            if (selectedBillingId == "" || selectedMunicipalityId == ""
                || selectedAreaId == "" || selectedSubreaId == "") {
                Swal.fire({
                    title: "Please choose all required fields, before proceed to scanning!",
                    text: "Scan Failed",
                    icon: "info",
                    closeOnConfirm: true,
                });
                return;
            }

            isScanMode = isScanMode == false ? true : false;
            if (isScanMode == false) {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                Command: toastr["info"]("Viewing in-progress...", "View Mode");

                $(this).html(`<i class="fa fa-search"></i> View Mode`);
                $(this).removeClass('btn-warning');
                $(this).addClass('btn-primary');
            } else {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                Command: toastr["warning"]("Scanning in-progress...", "Scan Mode")
                $(this).html(`<i class="fa fa-barcode"></i> Scan Mode`);
                $(this).removeClass('btn-primary');
                $(this).addClass('btn-warning');
            }
        })


        $(document).keydown(function (e) {
            if (isScanMode == true) {
                var code = (e.keyCode ? e.keyCode : e.which);

                if (code == 13) {
                    const contractNo = barcode;
                    const url = `/admin/subscribers/${contractNo}/deliveries`;
                    const selectedBillingId = $("#select_billing").find(":selected").val();
                    const postData = { 'billing_id': selectedBillingId }

                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify(postData),
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            if (response.status == "error") {
                                toastr.options = {
                                    "closeButton": false,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-top-center",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                Command: toastr["error"]("Error Occured!", response.message)
                            } else if (response.status == "success") {
                                var rowId = "#" + response.data[0];
                                var subscriber = response.data[2] + "-" + response.data[3];
                                var newData = response.data;
                                dt_deliveries.row(rowId).data(newData);

                                toastr.options = {
                                    "closeButton": false,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-top-center",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                Command: toastr["success"]("Scanned Successfully!", subscriber)
                            }
                        }
                    });
                    barcode = "";
                } else {
                    barcode = barcode + String.fromCharCode(code);
                }
            }
        });

        function loadFilters(){
            var url = new URL(document.location.href);
            _status = url.searchParams.get('status');
            _billing = url.searchParams.get('billing');
            _municipality = url.searchParams.get('municipality');
            _area = url.searchParams.get('area');
            _subArea = url.searchParams.get('sub-area');
    
            var navElement;
            if(_status == "delivered"){
                navElement = $("a[data-status='delivered']");
            } else if (_status == "pending"){
                navElement = $("a[data-status='pending']");
            } else if (_status == 'in-progress'){
                navElement = $("a[data-status='in-progress']");
            } else{
                navElement = $("a[data-status='all']");
            }
            navElement.addClass('active');
            
            if(_billing){
                $(`#select_billing`).val(_billing);
            }
            if(_municipality){
                var e = $(`#select_municipality`);
                e.val(_municipality);
                changeMunicipality(e);
            }
            if(_area){
                var e = $(`#select_area`); 
                e.val(_area);
                changeArea(e);
            }
            if(_subArea){
                var e = $(`#select_sub_area`);
                e.val(_subArea);
    
                dt_deliveries.ajax.url(`/admin/billings/${_billing}/sub-areas/${_subArea}/deliveries?status=${_status}`).load();
            }
        }
    }); // document


    function changeMunicipality(e) {
        var municipalityID = e.val();

        $.ajaxSetup({
            async: false
        });
        $.getJSON(
            `/admin/municipalities/${municipalityID}/areas`, function (response) {
                $("#select_area").empty().append($('<option></option>').attr("value", "").text("Choose..."));
                $("#select_sub_area").empty().append($('<option></option>').attr("value", "").text("Choose..."));

                for (var i = 0; i < response.data.length; i++) {
                    $("#select_area").append($("<option></option>").attr("value", response.data[i]._id).text(response.data[i].name));
                }
            }).fail(function () {
                Swal.fire({ title: "Error Occured!", text: "Please refresh the page then try again!", icon: 'error' });
            });
    }

    function changeArea(e){
        var areaID = e.val();
        
        $.ajaxSetup({
            async: false
        });
        $.getJSON(
            `/admin/areas/${areaID}/sub-areas`, function (response) {
                $("#select_sub_area").empty().append($('<option></option>').attr("value", "").text("Choose..."));

                for (var i = 0; i < response.data.length; i++) {
                    $("#select_sub_area").append($("<option></option>").attr("value", response.data[i]._id).text(response.data[i].name));
                }
            }).fail(function () {
                Swal.fire({ title: "Error Occured!", text: "Please refresh the page then try again!", icon: 'error' });
            });
    }

    $(".nav-link").click(function(){
        var dataStatus = $(this).attr('data-status');

        var url = document.location.href.split('?')[0];

        if (document.location.href.includes('?')){
            var searchParams = new URLSearchParams(document.location.search);
            searchParams.set('status', dataStatus);
            var newParams = searchParams.toString();
            var newUrl = url + `?${newParams}`;
        } else{
            var newUrl = url + `?status=${dataStatus}`;
        }

        document.location = newUrl;
    });
</script>
{% endblock scripts %}


{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-rocket icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    Deliveries
                    <div class="page-title-subheading">
                        Manage deliveries
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button id="btn_mode" type="button" data-toggle="tooltip" title="Click to toggle"
                    data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
                    <i class="fa fa-search"></i>
                    View Mode
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    <!-- <div class="card-header-title">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"></i>
                    Sales Report
                    </div> -->
                    <ul class="nav">
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" data-status="in-progress">In-Progress</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" data-status="pending">Pending</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" data-status="delivered">Delivered</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" data-status="all">All</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-2">
                            <div class="position-relative form-group">
                                <label for="payment_mode" class="">Billing</label>
                                <select id="select_billing" class="form-control">
                                    <option value="">Choose...</option>
                                    {% for billing in billings %}
                                    <option value="{{billing.id}}">
                                        {{billing.full_billing_no}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="position-relative form-group">
                                <label for="payment_status" class="">Municipality</label>
                                <select id="select_municipality" class="form-control">
                                    <option value="">Choose...</option>
                                    {% for municipality in municipalities %}
                                    <option value="{{municipality.id}}">{{municipality.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="position-relative form-group">
                                <label for="payment_status" class="">Area</label>
                                <select id="select_area" class="form-control">
                                    <option value="">Choose...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="position-relative form-group">
                                <label for="payment_status" class="">Sub-Area</label>
                                <select id="select_sub_area" class="form-control">
                                    <option value="">Choose...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-inline" style="margin-left: 20px;">
                            <button id="btn_search" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="tbl_deliveries"
                            class="align-middle mb-0 table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">CONTRACT NO.</th>
                                    <th class="text-center">NAME</th>
                                    <th class="text-center">ADDRESS</th>
                                    <th class="text-center">DELIVERED BY</th>
                                    <th class="text-center">DATE DELIVERED</th>
                                    <th class="text-center">REMARKS</th>
                                    <th class="text-center">STATUS</th>
                                    <th class="text-center">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}