<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Dashboard</div>
        <ul class="pcoded-item pcoded-left-item">
            <li id="li_dashboard" class="">
                <a href="{{url_for('admin.dashboard')}}">
                    <span class="pcoded-micon"><i class="feather icon-trending-up"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Membership</div>
        <ul class="pcoded-item pcoded-left-item">
            <li id="li_registrations" class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Registration</span>
                </a>
            </li>
            <li id="li_membership_records" class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Membership Records</span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Accounting</div>
        <ul class="pcoded-item pcoded-left-item">
            <li id="li_cash_flow" class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Cash Flow</span>
                </a>
            </li>
            <li id="li_fixed_asset" class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Fixed Asset</span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Management</div>
        <ul class="pcoded-item pcoded-left-item">
            <li id="li_event_locations" class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Events</span>
                </a>
            </li>
            <li id="li_incoming_event" class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Incoming Event</span>
                </a>
            </li>
            <li id="li_users" class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Members</span>
                </a>
            </li>
            <li id="li_logs" class="">
                <a href="">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                    <span class="pcoded-mtext">Logs</span>
                </a>
            </li>
        </ul>
    </div>
</nav>