<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Settings</div>
        <ul class="pcoded-item pcoded-left-item">
            <li id="li_dashboard" class="">
                <a href="{{url_for('admin.dashboard')}}">
                    <span class="pcoded-micon"><i class="feather icon-trending-up"></i></span>
                    <span class="pcoded-mtext">Users</span>
                </a>
            </li>
        </ul>
    </div>
</nav>